.App {
  margin-top: 50px;
}

.form {
  text-align: left;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.formContainer {
  width: 50%;
  border: 1px solid rgb(190, 180, 180);
  border-radius: 10px;
  padding: 20px;
}

.dataContainer {
  width: 40%;
  margin-top: 30px;
  border: 1px solid rgb(190, 180, 180);
  padding: 20px;
  border-radius: 10px;
}
